<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #content {
            padding-top: 80px;
        }
    </style>
    <link href="/3rd/bs/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/finish_apply.css" />

    <title>量表填写</title>
</head>
<body>
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-targetid=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="cursor:default" id="nav-title"></a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="nav-li"></ul>
                <ul class="nav navbar-nav navbar-right" id="nav-li-right"></ul>
            </div>
        </div>
    </header>

    <div id="content"></div>

    <footer class="bs-footer" role="contentinfo">
        <hr>
        <div class="container" id="footer" style="text-align: center"></div>
    </footer>

<script type="text/template" id="tpl-nav-title">
外科医师临床操作能力观察评估记录系统
</script>

<script type="text/template" id="tpl-nav-li">
    <li class="active"><a class="btn-link" href="/u/apply_list">量表列表</a></li>
    <li class="active"><a class="btn-link" href="/u/question_list">观察项模板</a></li>
    <li class="active"><a class="btn-link" href="/u/section_list">章节模板</a></li>
    <li class="active"><a class="btn-link" href="/u/form_list">量表模板</a></li>
</script>

<script type="text/template" id="tpl-nav-li-right">
    <li><a href="javascript:;" onclick="logout()" >登出</a></li>
</script>

<script type="text/template" id="tpl-content">
    <div class="container" xmlns="http://www.w3.org/1999/html">
        {% if status == 0 or status == 1 %}
        <div class="container" id="container-loading">
            <img src="/img/loading.gif"><span id="loading-msg">正在载入...</span>
        </div>
        {% elif status == 2 %}
        <div class="container" id="container-result">
        <span id="result-msg">成功！</span>
            <br/><br/>
        <a href="/u/apply_list" class="btn btn-default">回到已填写列表</a>
        </div>
        {% else %}
        <div class="pageheader">
            <h1 class="lead">观察项列表</h1>
        </div>

        <div class="panel panel-default">
            <form class="form-horizontal" role="form" method="post" action="/api/u/finish/form" id="question-form">
            {% for section in form_base %}
                <div class="section-group">
                    {% for question in section %}
                    <div class="form-group" class="question">
                        <label for="input-name" class="col-sm-2">{{ question.question_info }}</label>
                        <div class="col-sm-10">
                            {% if question.question_type == 1 %}
                                {% for choice in question.choices %}
                                    <input type="radio" name="{{ getid(question.section_id, question.question_id) }}" autofocus value="{{ choice }}">{{ choice }}
                                {% endfor %}
                            {% else %}
                                {% if question.question_type == 2 %}
                                    {% for choice in question.choices %}
                                        <input type="checkbox" name="{{ getid(question.section_id, question.question_id) }}" autofocus value="{{ choice }}">{{ choice }}
                                    {% endfor %}
                                {% else %}
                                    {% if question.question_type == 3 %}
                                        <input type="text" maxlength="26" name="{{ getid(question.section_id, question.question_id) }}" autofocus>
                                    {% else %}
                                        {% if question.question_type == 4 %}
                                            <input type="radio" name="{{ getid(question.section_id, question.question_id) }}" autofocus value="1/10">1
                                            <input type="radio" name="{{ getid(question.section_id, question.question_id) }}" autofocus value="2/10">2
                                            <input type="radio" name="{{ getid(question.section_id, question.question_id) }}" autofocus value="3/10">3
                                            <input type="radio" name="{{ getid(question.section_id, question.question_id) }}" autofocus value="4/10">4
                                            <input type="radio" name="{{ getid(question.section_id, question.question_id) }}" autofocus value="5/10">5
                                            <input type="radio" name="{{ getid(question.section_id, question.question_id) }}" autofocus value="6/10">6
                                            <input type="radio" name="{{ getid(question.section_id, question.question_id) }}" autofocus value="7/10">7
                                            <input type="radio" name="{{ getid(question.section_id, question.question_id) }}" autofocus value="8/10">8
                                            <input type="radio" name="{{ getid(question.section_id, question.question_id) }}" autofocus value="9/10">9
                                            <input type="radio" name="{{ getid(question.section_id, question.question_id) }}" autofocus value="10/10">10
                                        {% else %}

                                            <input type="radio" name="{{ getid(question.section_id, question.question_id) }}" autofocus value="1-5分钟">1-5分钟
                                            <input type="radio" name="{{ getid(question.section_id, question.question_id) }}" autofocus value="5-10分钟">5-10分钟
                                            <input type="radio" name="{{ getid(question.section_id, question.question_id) }}" autofocus value="10-30分钟">10-30分钟
                                            <input type="radio" name="{{ getid(question.section_id, question.question_id) }}" autofocus value="30-60分钟">30-60分钟
                                            <input type="radio" name="{{ getid(question.section_id, question.question_id) }}" autofocus value="60分钟以上">60分钟以上
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" onclick="save();" class="btn btn-primary" id="publishBtn">保存</button>
                </div>
            </div>
            </form>
        </div>
    {% endif %}
    </div>
</script>

<script type="text/template" id="tpl-footer">

</script>

<script src="/3rd/jquery.js"></script>
<script src="/3rd/bs/js/bootstrap.min.js"></script>
<script src="/3rd/swig.js"></script>
<script src="/js/base.js"></script>
<script src="/js/base_admin.js"></script>

<script>
    var locals = {
        status: -1,
        form_base_id: urlParam.id,
        now: new Date(),
        processResult: '',
        question_id: [],
        temp: []
    };
    var renderTemplate = function (name) {
        $('#' + name).html(swig.render($('#tpl-' + name).html(), {locals: locals}));
    };
    var render = function () {
        renderTemplate('nav-title');
        renderTemplate('nav-li');
        renderTemplate('nav-li-right');
        renderTemplate('content');
        renderTemplate('footer');
        $('.form-control').on('focus', function() {var me = $(this); setTimeout(function(){me.select();}, 100)});
        api.form($('#question-form'), function (id) {
            // success
            locals.form_base.id = id;
        }, function (errno, errmsg, e) {
            // fail
            locals.processResult = '失败: [' + errno + '] ' + errmsg + (e ? ": " + e : "");
        }, function (data) {
            // before
            data.status = 0;
            if (!locals.form_base) {
                locals.form_base = {};
            }
            updateObj(locals.form_base, data);
            locals.status = 1;
            locals.processResult = '';
            render();
            return true;
        }, function () {
            // complete
            locals.status = 2;
            render();
        });
    };
    $(function () {
        swig.setDefaultTZOffset(new Date().getTimezoneOffset());
        render();
        loginRequired(function () {
            api.get('/api/u/finish/form', {id: urlParam.id}, function (data) {
                locals.status = -1;
                data.id = parseInt(urlParam.id);
                locals.form_base = data;
                console.log(locals.form_base);
                render();
            }, dftFail);
        });
    });
    var backToForm = function () {
        locals.status = -1;
        locals.processResult = '';
        render();
    };
    var getid = function(s, q){
        var r = s.toString() + '_' + q.toString();
        var isExist = false;
        for (var i = 0; i < locals.question_id.length; i++) {
            if (r == locals.question_id[i]) {
                isExist = true;
                break;
            }
        }
        if (isExist == false) {
            locals.question_id.push(r);
            locals.temp.push(r);
        }
        return r;
    }
    var save= function () {
        var counter = 0;
        var data = [];
        var res = [];
        var flag = false;
        var form = $('#question-form');
        $.each(form.serializeArray(), function (i, input) {
            var _data = {};
            if (input.value == ''){
                alert("请完成量表的每一项");
                flag = true;
                return;
            }
            _data["id"] = input.name;
            for (var i = 0; i < locals.temp.length; i++) {
                if (locals.temp[i] == input.name) {
                    locals.temp.splice(i, 1);
                    counter++;
                }
            }
            _data["value"] = input.value;
            res.push(_data);
        });
        if (flag) {
            for (var i = 0; i < locals.question_id.length; i++) {
                locals.temp.push(locals.question_id[i]);
            }
            return;
        }
        if (counter != locals.question_id.length) {
            alert("请完成量表的每一项");
            for (var i = 0; i < locals.question_id.length; i++) {
                locals.temp.push(locals.question_id[i]);
            }
            return;
        }
        data['id'] = urlParam.id;
        data['question'] = res;
        data.status = 1;
        if (!locals.form_base) {
            locals.form_base = {};
        } else {
            data.id = locals.form_base.id;
        }
        updateObj(locals.form_base, data);
        locals.status = 1;
        locals.processResult = '';
        render();
        api.post(form.attr('action'), data, function (id) {
            locals.form_base.id = id;
        }, function (errno, errmsg, e) {
            locals.processResult = '失败: [' + errno + '] ' + errmsg + (e ? ": " + e : "");
        }, function () {
            locals.status = 2;
            render();
        });
    };
</script>
</body>
</html>