<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #content {
            padding-top: 80px;
        }
    </style>
    <link href="/3rd/bs/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/finish_apply.css" />

    <title>量表填写</title>
</head>
<body>
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-targetid=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="cursor:default" id="nav-title"></a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="nav-li"></ul>
                <ul class="nav navbar-nav navbar-right" id="nav-li-right"></ul>
            </div>
        </div>
    </header>

    <div id="content"></div>

    <footer class="bs-footer" role="contentinfo">
        <hr>
        <div class="container" id="footer" style="text-align: center"></div>
    </footer>

<script type="text/template" id="tpl-nav-title">
外科医师临床操作能力观察评估记录系统
</script>

<script type="text/template" id="tpl-nav-li">
    <li class="active"><a class="btn-link" href="/u/apply_list">申请列表</a></li>
    <li class="active"><a class="btn-link" href="/u/form_list">量表列表</a></li>
    {% if user_status == 1 %}
        <li class="active"><a class="btn-link" href="/u/create_user">创建填表人员</a></li>
    {% else %}
        {% if user_status == 2 %}
            <li class="active"><a class="btn-link" href="/u/create_user">创建学员</a></li>
        {% endif %}
    {% endif %}
</script>

<script type="text/template" id="tpl-nav-li-right">
    <li><a href="javascript:;" onclick="logout()" >登出</a></li>
</script>

<script type="text/template" id="tpl-content">
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="pageheader">
            <h1 class="lead">DOPS(Direce Observation of Procedual Skills 操作技能直接观察评估)</h1>
        </div>

        <div class="panel panel-default">
            <form class="form-horizontal" role="form" method="post" action="/api/u/create/dops" id="question-form">
                <div class="section-group">
                    <label for="input-name" class="col-sm-12">1. About the assessment 关于评估</label>
                    <div class="form-group" class="question">
                        <label for="input-name" class="col-sm-4">Hospital 医院</label>
                        <div class="col-sm-8">
                            {% if form.hospital == 1 %}
                                华信医院
                            {% endif %}
                            {% if form.hospital == 2 %}
                                清华大学医学中心
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group" class="question">
                        <label for="input-name" class="col-sm-4">Rater/Assessor 评估者</label>
                        <div class="col-sm-8">
                            {{ form.rater }}
                        </div>
                    </div>
                    <div class="form-group" class="question">
                        <label for="input-name" class="col-sm-4">License No.执照编号</label>
                        <div class="col-sm-8">
                            {{ form.rater_license }}
                        </div>
                    </div>
                    <div class="form-group" class="question">
                        <label for="input-name" class="col-sm-4">Rater has received training for this type of assessment? 评估者是否训练过使用此评估工具？</label>
                        <div class="col-sm-8">
                            <input type="checkbox" name="experience" autofocus value="1">None 无
                            <input type="checkbox" name="experience" autofocus value="2">Written 书面形式
                            <input type="checkbox" name="experience" autofocus value="4">Web/CD/DVD
                            <input type="checkbox" name="experience" autofocus value="8">Workshop 研讨会
                        </div>
                    </div>
                    <div class="form-group" class="question">
                        <label for="input-name" class="col-sm-4">Trainee 受训人</label>
                        <div class="col-sm-8">
                            {{ form.trainee }}
                        </div>
                    </div><div class="form-group" class="question">
                        <label for="input-name" class="col-sm-4">License No.执照编号</label>
                        <div class="col-sm-8">
                            {{ form.trainee_license }}
                        </div>
                    </div>
                    <div class="form-group" class="question">
                        <label for="input-name" class="col-sm-4">Year of Resident:</label>
                        <div class="col-sm-8">
                            {{ form.year }}
                        </div>
                    </div>
                </div>
                <div class="section-group">
                    <label for="input-name" class="col-sm-12">2. Clinical information 临床信息</label>
                    <div class="form-group" class="question">
                        <label for="input-name" class="col-sm-4">Clinical Setting 临床（使用）情况</label>
                        <div class="col-sm-8">
                            {% if form.clinicalSetting == 1 %}
                                Operating Room 手术室
                            {% endif %}
                            {% if form.clinicalSetting == 2 %}
                                Emergency Room
                            {% endif %}
                            {% if form.clinicalSetting == 3 %}
                                Ward 病房
                            {% endif %}
                            {% if form.clinicalSetting == 4 %}
                                Clinic 门诊
                            {% endif %}
                            {% if form.clinicalSetting == 5 %}
                                Other
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group" class="question">
                        <label for="input-name" class="col-sm-4">Name of Whole Procedure 操作名称</label>
                        <div class="col-sm-8">
                            {{ form.procedureName }}
                        </div>
                    </div>
                    <div class="form-group" class="question">
                        <label for="input-name" class="col-sm-4">Name of Part of Procedure Observed and Assessed 部分观察和评估操作名称</label>
                        <div class="col-sm-8">
                            {{ form.observeName }}
                        </div>
                    </div>
                    <div class="form-group" class="question">
                        <label for="input-name" class="col-sm-4">Number of times procedure performed by trainee 学员曾执行过此一操作技能的次数</label>
                        <div class="col-sm-8">
                            {% if form.procedureTime == 5 %} 大于等于5次 {% else %} {{ form.procedureTime }} {% endif %}
                        </div>
                    </div>
                    <div class="form-group" class="question">
                        <label for="input-name" class="col-sm-4">Complexity of case 此一操作技能的困难程度</label>
                        <div class="col-sm-8">
                            {% if form.complexity == 1 %}
                                Low 低
                            {% endif %}
                            {% if form.complexity == 2 %}
                                Medium 中
                            {% endif %}
                            {% if form.complexity == 3 %}
                                High 高
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="section-group">
                    <label for="input-name" class="col-sm-12">3. Performance Level (select the appropriate level) 成绩等级</label>
                    <div class="form-group col-sm-offset-1 col-sm-11" class="question">
                        <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="col-sm-4"></th>
                            <th class="col-sm-2">Not observed </br> 未观察到</th>
                            <th class="col-sm-2">Outstanding </br> 优秀</th>
                            <th class="col-sm-2">Satisfactory </br> 良好</th>
                            <th class="col-sm-2">Development Required </br> 未达到标准</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="1">
                            <td class="td-description">
                                1. Describes indications, anatomy, procedure and complications 描述适应症，解剖位置，过程及并发症
                            </td>
                            <td class="td-not-observed">
                                {% if form.description == 0 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-outstanding">
                                {% if form.description == 1 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-satisfactory">
                                {% if form.description == 2 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-development-required">
                                {% if form.description == 3 %}
                                    &radic;
                                {% endif %}
                            </td>
                        </tr>
                        <tr id="2">
                            <td class="td-description">
                                2. Obtains consent, after explaining procedure & possible comps.解释过程及并发症后取得同意
                            </td>
                            <td class="td-not-observed">
                                {% if form.explanation == 0 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-outstanding">
                                {% if form.explanation == 1 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-satisfactory">
                                {% if form.explanation == 2 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-development-required">
                                {% if form.explanation == 3 %}
                                    &radic;
                                {% endif %}
                            </td>
                        </tr>
                        <tr id="3">
                            <td class="td-description">
                                3. Prepares for procedure according to an agreed protocol 根据同意书准备手术
                            </td>
                            <td class="td-not-observed">
                                {% if form.preparation == 0 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-outstanding">
                                {% if form.preparation == 1 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-satisfactory">
                                {% if form.preparation == 2 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-development-required">
                                {% if form.preparation == 3 %}
                                    &radic;
                                {% endif %}
                            </td>
                        </tr>
                        <tr id="4">
                            <td class="td-description">
                                4. Administers effective analgesia or safe sedation (if no anaesthetist) 有效管理止痛或镇静麻醉（如果没有麻醉师）
                            </td>
                            <td class="td-not-observed">
                                {% if form.sedation == 0 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-outstanding">
                                {% if form.sedation == 1 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-satisfactory">
                                {% if form.sedation == 2 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-development-required">
                                {% if form.sedation == 3 %}
                                    &radic;
                                {% endif %}
                            </td>
                        </tr>
                        <tr id="5">
                            <td class="td-description">
                                5. Demonstrates safe use of instruments & sharps & safe disposal of waste material 演示安全使用器材，手术刀以及安全处理医用垃圾
                            </td>
                            <td class="td-not-observed">
                                {% if form.safety == 0 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-outstanding">
                                {% if form.safety == 1 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-satisfactory">
                                {% if form.safety == 2 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-development-required">
                                {% if form.safety == 3 %}
                                    &radic;
                                {% endif %}
                            </td>
                        </tr>
                        <tr id="6">
                            <td class="td-description">
                                6. Performs the technical aspects in line with the guidance notes 根据指导说明的技术方面执行
                            </td>
                            <td class="td-not-observed">
                                {% if form.performance == 0 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-outstanding">
                                {% if form.performance == 1 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-satisfactory">
                                {% if form.performance == 2 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-development-required">
                                {% if form.performance == 3 %}
                                    &radic;
                                {% endif %}
                            </td>
                        </tr>
                        <tr id="7">
                            <td class="td-description">
                                7. Deals with any unexpected event or seeks help when appropriate 处理突发事件或在适当的时候寻求帮助
                            </td>
                            <td class="td-not-observed">
                                {% if form.emergency == 0 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-outstanding">
                                {% if form.emergency == 1 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-satisfactory">
                                {% if form.emergency == 2 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-development-required">
                                {% if form.emergency == 3 %}
                                    &radic;
                                {% endif %}
                            </td>
                        </tr>
                        <tr id="8">
                            <td class="td-description">
                                8. Completes required documentation (written or dictated)完成所需文件（手写或口述）
                            </td>
                            <td class="td-not-observed">
                                {% if form.documentation == 0 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-outstanding">
                                {% if form.documentation == 1 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-satisfactory">
                                {% if form.documentation == 2 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-development-required">
                                {% if form.documentation == 3 %}
                                    &radic;
                                {% endif %}
                            </td>
                        </tr>
                        <tr id="9">
                            <td class="td-description">
                                9. Communicates clearly with patient & staff throughout the procedure 在整个过程中与病人或工作人员沟通清楚
                            </td>
                            <td class="td-not-observed">
                                {% if form.communication == 0 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-outstanding">
                                {% if form.communication == 1 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-satisfactory">
                                {% if form.communication == 2 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-development-required">
                                {% if form.communication == 3 %}
                                    &radic;
                                {% endif %}
                            </td>
                        </tr>
                        <tr id="10">
                            <td class="td-description">
                                10. Demonstrates professional behaviour throughout the procedure 在整个过程中表现专业
                            </td>
                            <td class="td-not-observed">
                                {% if form.demonstration == 0 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-outstanding">
                                {% if form.demonstration == 1 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-satisfactory">
                                {% if form.demonstration == 2 %}
                                    &radic;
                                {% endif %}
                            </td>
                            <td class="td-development-required">
                                {% if form.demonstration == 3 %}
                                    &radic;
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="section-group">
                    <label for="input-name" class="col-sm-12">4. Overall Performance Level (select the appropriate level) 综合成绩等级</label>
                    <div class="form-group col-sm-offset-1 col-sm-11" class="question">
                        <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="col-sm-2"></th>
                            <th class="col-sm-8"></th>
                            <th class="col-sm-2">请选择一个等级</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr id="0">
                                <td class="td-level">
                                    Level 0
                                </td>
                                <td class="td-level-description">
                                    Unable to perform the procedure, or part observed, under supervision</br>在监督下无法执行该程序或部分观察
                                </td>
                                <td class="td-choice">
                                    {% if form.overall == 0 %}
                                        &radic;
                                    {% endif %}
                                </td>
                            </tr>
                            <tr id="1">
                                <td class="td-level">
                                    Level 1
                                </td>
                                <td class="td-level-description">
                                    Able to perform the procedure, or part observed, under supervision</br>在监督下能够执行该程序或部分观察
                                </td>
                                <td class="td-choice">
                                    {% if form.overall == 1 %}
                                        &radic;
                                    {% endif %}
                                </td>
                            </tr>
                            <tr id="2">
                                <td class="td-level">
                                    Level 2
                                </td>
                                <td class="td-level-description">
                                    Able to perform the procedure with minimum supervision (needed occasional help)</br>能在最少的监督下执行该程序（偶尔需要帮助）
                                </td>
                                <td class="td-choice">
                                    {% if form.overall == 2 %}
                                        &radic;
                                    {% endif %}
                                </td>
                            </tr>
                            <tr id="3">
                                <td class="td-level">
                                    Level 3
                                </td>
                                <td class="td-level-description">
                                    Competent to perform the procedure unsupervised (could deal with complications that arose) 能在无监督的情况下完成该程序（可以处理并发症的出现）
                                </td>
                                <td class="td-choice">
                                    {% if form.overall == 3 %}
                                        &radic;
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="section-group">
                    <label for="input-name" class="col-sm-12">5. FEEDBACK 反馈</label>
                    <label for="input-name" class="col-sm-12">Verbal feedback is a mandatory part of this assessment. Please use this space to record areas of strength and suggestions for development which were highlighted during discussion with the trainee: 口头反馈是此评估必不可少的组成部分。请记录与受训人讨论时提到的发展的优势领域及建议</label>
                    <div class="form-group" class="question">
                        <label for="input-name" class="col-sm-4">What aspects were done well? 哪部分完成的好？</label>
                        <div class="col-sm-8">
                            {{ form.goodPart }}
                        </div>
                    </div>
                    <div class="form-group" class="question">
                        <label for="input-name" class="col-sm-4">Areas for development:需要发展的部分：</label>
                        <div class="col-sm-8">
                            {{ form.developPart }}
                        </div>
                    </div>
                    <div class="form-group" class="question">
                        <label for="input-name" class="col-sm-4">Agreed action 已达到标准的部分</label>
                        <div class="col-sm-8">
                            {{ form.agreedPart }}
                        </div>
                    </div>
                </div>
                <div class="section-group">
                    <label for="input-name" class="col-sm-12">5. Saving and Validating this assessment 保存并校验此评估</label>
                    <label for="input-name" class="col-sm-12">Your satisfaction rating is about how useful you found the tool as a method of assessing performance on that occasion (this is not about satisfaction with how the trainee has performed) 您的满意评级是关于您认为此评估作为评定工具用于评估时是否有用（这不是对学员完成的如何的满意度）</label>
                    <div class="form-group col-sm-offset-1 col-sm-11" class="question">
                        <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="col-sm-2">Trainee Satisfaction 受训者满意度</th>
                            <th class="col-sm-2">Assessor Satisfaction 评估者满意度</th>
                            <th class="col-sm-2">Time taken for assessment 评估时间</th>
                            <th class="col-sm-2">Time taken for feedback 反馈时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="td-trainee-satisfaction">
                                <div>{{ form.traineeSatisfaction }}/10</div>
                            </td>
                            <td class="td-assessor-satisfaction">
                                <div>{{ form.assessorSatisfaction }}/10</div>
                            </td>
                            <td class="td-assessment-time">
                                <div>{{ form.assessTimeTaken }}分钟</div>
                            </td>
                            <td class="td-feedback-time">
                                <div>{{ form.feedbackTimeTaken }}分钟</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/template" id="tpl-footer">
<a href="https://www.med.tsinghua.edu.cn" target="_blank">清华大学医学中心</a><br>
    &copy; 2017
</script>

<script src="/3rd/jquery.js"></script>
<script src="/3rd/bs/js/bootstrap.min.js"></script>
<script src="/3rd/swig.js"></script>
<script src="/js/base.js"></script>
<script src="/js/base_admin.js"></script>

<script>
    var locals = {
        status: -1,
        apply_id: urlParam.id,
        now: new Date(),
        processResult: '',
        user_status: -1,
        form: []
    };
    var renderTemplate = function (name) {
        $('#' + name).html(swig.render($('#tpl-' + name).html(), {locals: locals}));
    };
    var render = function () {
        renderTemplate('nav-title');
        renderTemplate('nav-li');
        renderTemplate('nav-li-right');
        renderTemplate('content');
        renderTemplate('footer');
    };
    $(function () {
        swig.setDefaultTZOffset(new Date().getTimezoneOffset());
        render();
        loginRequired(function () {
            api.get('/api/u/dops', {id: urlParam.id}, function (data) {
                locals.status = -1;
                data.id = parseInt(urlParam.id);
                locals.user_status = data['user_status'];
                locals.form = data;
                render();
            }, dftFail);
        });
    });
</script>
</body>
</html>