<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #content {
            padding-top: 80px;
        }
    </style>
    <link href="/3rd/bs/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/apply_list.css" />

    <title>量表列表</title>
</head>
<body>
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="cursor:default" id="nav-title"></a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="nav-li"></ul>
                <ul class="nav navbar-nav navbar-right" id="nav-li-right"></ul>
            </div>
        </div>
    </header>

    <div id="content"></div>

    <footer class="bs-footer" role="contentinfo">
        <hr>
        <div class="container" id="footer" style="text-align: center"></div>
    </footer>

<script type="text/template" id="tpl-nav-title">
外科医师临床操作能力观察评估记录系统
</script>

<script type="text/template" id="tpl-nav-li">
    <li class="active"><a class="btn-link" href="/u/apply_list">量表列表</a></li>
    <li class="active"><a class="btn-link" href="/u/question_list">观察项模板</a></li>
    <li class="active"><a class="btn-link" href="/u/section_list">章节模板</a></li>
    <li class="active"><a class="btn-link" href="/u/question_list">量表模板</a></li>
</script>

<script type="text/template" id="tpl-nav-li-right">
    <li><a href="javascript:;" onclick="logout()" >登出</a></li>
</script>

<script type="text/template" id="tpl-content">
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="pageheader">
            <h1 class="lead">量表列表</h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="btn btn-default" href="/u/create_apply">填写量表</a>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>使用模板名</th>
                    <th>填写人</th>
                    <th>完成时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbody-applies">
                {% for apply in applies %}
                <tr id="act-{{ apply.id }}">
                    <td class="td-id">
                        {{ apply.id }}
                    </td>
                    <td class="td-name">
                        {{ apply.name }}
                    </td>
                    <td class="td-status">
                        {{ apply.rater }}
                    </td>
                    <td class="td-apply_time">
                        {{ getTime(apply.time) }}
                    </td>
                    <td class="td-operations">
                    {% if apply.status == 0 %}
                        <a href="/u/apply_detail?id={{ apply.id }}" target="_blank">
                            <span class="glyphicon glyphicon-check">查看量表</span>
                        </a>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</script>

<script type="text/template" id="tpl-footer">

</script>

<script src="/3rd/jquery.js"></script>
<script src="/3rd/bs/js/bootstrap.min.js"></script>
<script src="/3rd/swig.js"></script>
<script src="/js/base.js"></script>
<script src="/js/base_admin.js"></script>
<script src="/js/apply_list.js"></script>

<script>
    var locals = {
        applies: []
    };
    var renderTemplate = function (name) {
        $('#' + name).html(swig.render($('#tpl-' + name).html(), {locals: locals}));
    };
    var render = function () {
        renderTemplate('nav-title');
        renderTemplate('nav-li');
        renderTemplate('nav-li-right');
        renderTemplate('content');
        renderTemplate('footer');
    };
    $(function () {
        swig.setDefaultTZOffset(new Date().getTimezoneOffset());
        render();
        loginRequired(function () {
            api.get('/api/u/apply/list', {}, function (data) {
                $.each(data, function (i, apply) {
                    updateDate(apply, 'time');
                });
                locals.applies = data;
                render();
            }, dftFail);
        });
    });
</script>
</body>
</html>