<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #content {
            padding-top: 80px;
        }
    </style>
    <link href="/3rd/bs/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/question_detail.css" />

    <title>问题详情</title>
</head>
<body>
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="cursor:default" id="nav-title"></a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="nav-li"></ul>
                <ul class="nav navbar-nav navbar-right" id="nav-li-right"></ul>
            </div>
        </div>
    </header>

    <div id="content"></div>

    <footer class="bs-footer" role="contentinfo">
        <hr>
        <div class="container" id="footer" style="text-align: center"></div>
    </footer>

<script type="text/template" id="tpl-nav-title">
表单管理系统
</script>

<script type="text/template" id="tpl-nav-li">
    <li class="active"><a class="btn-link" href="/u/apply_list">表单列表</a></li>
    <li class="active"><a class="btn-link" href="/u/question_list">问题模板</a></li>
    <li class="active"><a class="btn-link" href="/u/section_list">部分模板</a></li>
    <li class="active"><a class="btn-link" href="/u/form_list">表单模板</a></li>
</script>

<script type="text/template" id="tpl-nav-li-right">
    <li><a href="javascript:;" onclick="logout()" >登出</a></li>
</script>

<script type="text/template" id="tpl-content">
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="pageheader">
            <h1 class="lead">问题详情</h1>
        </div>

        <div class="panel panel-default">
        <form class="form-horizontal" role="form" id="question-form">
            <label for="input-name" class="col-sm-2">{{ question.question_info }}</label>
            <div class="col-sm-10">
                {% if question.question_type == 1 %}
                    {% for choice in question.choices %}
                        <input type="radio" name="{{ question.id }}" autofocus value="{{ choice }}">{{ choice }}
                    {% endfor %}
                {% else %}
                    {% if question.question_type == 2 %}
                        {% for choice in question.choices %}
                            <input type="checkbox" name="{{ question.id }}" autofocus value="{{ choice }}">{{ choice }}
                        {% endfor %}
                    {% else %}
                        {% if question.question_type == 3 %}
                            <input type="text" maxlength="26" name="{{ question.id }}" autofocus>
                        {% else %}
                            {% if question.question_type == 4 %}
                                <input type="radio" name="{{ question.id }}" autofocus value="1/10">1
                                <input type="radio" name="{{ question.id }}" autofocus value="2/10">2
                                <input type="radio" name="{{ question.id }}" autofocus value="3/10">3
                                <input type="radio" name="{{ question.id }}" autofocus value="4/10">4
                                <input type="radio" name="{{ question.id }}" autofocus value="5/10">5
                                <input type="radio" name="{{ question.id }}" autofocus value="6/10">6
                                <input type="radio" name="{{ question.id }}" autofocus value="7/10">7
                                <input type="radio" name="{{ question.id }}" autofocus value="8/10">8
                                <input type="radio" name="{{ question.id }}" autofocus value="9/10">9
                                <input type="radio" name="{{ question.id }}" autofocus value="10/10">10
                            {% else %}
                                <input type="radio" name="{{ question.id }}" autofocus value="1-5分钟">1-5分钟
                                <input type="radio" name="{{ question.id }}" autofocus value="5-10分钟">5-10分钟
                                <input type="radio" name="{{ question.id }}" autofocus value="10-30分钟">10-30分钟
                                <input type="radio" name="{{ question.id }}" autofocus value="30-60分钟">30-60分钟
                                <input type="radio" name="{{ question.id }}" autofocus value="60分钟以上">60分钟以上
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </form>
        </div>
    </div>
</script>

<script type="text/template" id="tpl-footer">

</script>

<script src="/3rd/jquery.js"></script>
<script src="/3rd/bs/js/bootstrap.min.js"></script>
<script src="/3rd/swig.js"></script>
<script src="/js/base.js"></script>
<script src="/js/base_admin.js"></script>

<script>
    var locals = {
        status: -1,
        question_id: urlParam.id,
        now: new Date(),
        processResult: ''
    };
    var renderTemplate = function (name) {
        $('#' + name).html(swig.render($('#tpl-' + name).html(), {locals: locals}));
    };
    var render = function () {
        renderTemplate('nav-title');
        renderTemplate('nav-li');
        renderTemplate('nav-li-right');
        renderTemplate('content');
        renderTemplate('footer');
    };
    $(function () {
        swig.setDefaultTZOffset(new Date().getTimezoneOffset());
        render();
        loginRequired(function () {
            api.get('/api/u/question/detail', {id: urlParam.id}, function (data) {
                locals.status = -1;
                data.id = parseInt(urlParam.id);
                locals.question = data;
                render();
            }, dftFail);
        });
    });
    var backToForm = function () {
        locals.status = -1;
        locals.processResult = '';
        render();
    };
</script>
</body>
</html>