<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #content {
            padding-top: 80px;
        }
    </style>
    <link href="/3rd/bs/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/form_list.css" />

    <title>量表列表</title>
</head>
<body>
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="cursor:default" id="nav-title"></a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="nav-li"></ul>
                <ul class="nav navbar-nav navbar-right" id="nav-li-right"></ul>
            </div>
        </div>
    </header>

    <div id="content"></div>

    <footer class="bs-footer" role="contentinfo">
        <hr>
        <div class="container" id="footer" style="text-align: center"></div>
    </footer>

<script type="text/template" id="tpl-nav-title">
    <img src="/img/hospital.png" height="30px"/>外科医师临床操作能力观察评估记录系统
</script>

<script type="text/template" id="tpl-nav-li">
    <li class="active"><a class="btn-link" href="/u/apply_list">申请列表</a></li>
    <li class="active"><a class="btn-link" href="/u/form_list">量表列表</a></li>
    {% if user_status == 1 %}
        <li class="active"><a class="btn-link" href="/u/create_user">创建填表人员</a></li>
    {% else %}
        {% if user_status == 2 %}
            <li class="active"><a class="btn-link" href="/u/create_user">创建学员</a></li>
        {% endif %}
    {% endif %}
</script>

<script type="text/template" id="tpl-nav-li-right">
    <li><a href="javascript:;" onclick="logout()" >登出</a></li>
</script>

<script type="text/template" id="tpl-content">
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="pageheader">
            <h1 class="lead">量表模板</h1>
        </div>

        <div class="panel panel-default">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>申请人</th>
                    <th>申请模板</th>
                    <th>申请时间</th>
                    <th>评分人</th>
                    <th>评分时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbody-applies">
                {% for form in forms %}
                <tr id="act-{{ form.id }}">
                    <td class="td-id">
                        {{ form.id }}
                    </td>
                    <td class="td-trainee">
                        {{ form.trainee }}
                    </td>
                    <td class="td-type">
                        {{ getUpperName(form.form_base) }}
                    </td>
                    <td class="td-apply-time">
                        {{ getTime(form.apply_time) }}
                    </td>
                    <td class="td-rater">
                        {{ form.rater }}
                    </td>
                    <td class="td-finish-time">
                        {{ getTime(form.finish_time) }}
                    </td>
                    <td class="td-operations">
                        <a href="/u/{{ getLowerName(form.form_base) }}?id={{ form.form_id }}" target="_blank">
                            <span class="glyphicon glyphicon-check">查看模板</span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</script>

<script type="text/template" id="tpl-footer">
<a href="https://www.med.tsinghua.edu.cn" target="_blank">清华大学医学中心</a><br>
    &copy; 2017
</script>

<script src="/3rd/jquery.js"></script>
<script src="/3rd/bs/js/bootstrap.min.js"></script>
<script src="/3rd/swig.js"></script>
<script src="/js/base.js"></script>
<script src="/js/base_admin.js"></script>
<script src="/js/list.js"></script>

<script>
    var locals = {
        forms: [],
        user_status: -1
    };
    var renderTemplate = function (name) {
        $('#' + name).html(swig.render($('#tpl-' + name).html(), {locals: locals}));
    };
    var render = function () {
        renderTemplate('nav-title');
        renderTemplate('nav-li');
        renderTemplate('nav-li-right');
        renderTemplate('content');
        renderTemplate('footer');
    };
    $(function () {
        swig.setDefaultTZOffset(new Date().getTimezoneOffset());
        render();
        loginRequired(function () {
            api.get('/api/u/form/list', {}, function (data) {
                $.each(data['apply'], function (i, form) {
                    updateDate(form, 'apply_time');
                    updateDate(form, 'finish_time');
                });
                locals.forms = data['apply'];
                locals.user_status = data['user_status'];
                render();
            }, dftFail);
        });
    });
</script>
</body>
</html>